{% extends 'base.html' %}

{% block title %}
  Олег Мицкевич
{% endblock %}

{% block content_title %}
Олег Мицкевич
{% endblock %}

{% block content %}

<div class="container foto">
<div class = "row">
  
   <div class="col-lg-3 col-md-4 col-6 thumb">
 
           <a data-fancybox="gallery" href="{{ url_for("static", filename="images/foto/1.jpg") }}">

               <img class="img-fluid"  src="{{ url_for("static", filename="images/foto/mini/1.jpg") }}" alt="..." >     </a>    
                   </div>
      
 <div class="col-lg-3 col-md-4 col-6 thumb">
    <a data-fancybox="gallery" href="{{ url_for("static", filename="images/foto/1.jpg") }}">  </a>
               <img class="img-fluid"  src="{{ url_for("static", filename="images/foto/mini/1.jpg") }}" alt="..." >        
                       </div>
                   
          <div class="col-lg-3 col-md-4 col-6 thumb">
                <a data-fancybox="gallery" href="{{ url_for("static", filename="images/foto/1.jpg") }}">
               <img class="img-fluid"  src="{{ url_for("static", filename="images/foto/mini/1.jpg") }}" alt="..." >     </a>       
                     </div>
                   
     <div class="col-lg-3 col-md-4 col-6 thumb">
               <a data-fancybox="gallery" href="{{ url_for("static", filename="images/foto/1.jpg") }}">
               <img class="img-fluid"  src="{{ url_for("static", filename="images/foto/mini/1.jpg") }}" alt="..." >     </a>    
                    </div>
                   
        <div class="col-lg-3 col-md-4 col-6 thumb">
 
           <a data-fancybox="gallery" href="{{ url_for("static", filename="images/foto/1.jpg") }}">
               <img class="img-fluid"  src="{{ url_for("static", filename="images/foto/mini/1.jpg") }}" alt="..." >     </a>    
                   </div>
      
 <div class="col-lg-3 col-md-4 col-6 thumb">
    <a data-fancybox="gallery" href="{{ url_for("static", filename="images/foto/1.jpg") }}">
               <img class="img-fluid"  src="{{ url_for("static", filename="images/foto/mini/1.jpg") }}" alt="..." >     </a>     
                       </div>
                   
          <div class="col-lg-3 col-md-4 col-6 thumb">
                <a data-fancybox="gallery" href="{{ url_for("static", filename="images/foto/1.jpg") }}">
               <img class="img-fluid"  src="{{ url_for("static", filename="images/foto/mini/1.jpg") }}" alt="..." >     </a>       
                     </div>
                   
     <div class="col-lg-3 col-md-4 col-6 thumb">
               <a data-fancybox="gallery" href="{{ url_for("static", filename="images/foto/1.jpg") }}">
               <img class="img-fluid"  src="{{ url_for("static", filename="images/foto/mini/1.jpg") }}" alt="..." >     </a>    
                    </div>
                   
          
                      </div>
                      </div>


{% endblock %}
