{% extends 'base.html' %}

{% block title %}

{% endblock %}

{% block content_title %}

{% endblock %}

{% block content %}

<div class="container foto">
<div class = "row">
  
   <div class="col-lg-3 col-md-4 col-6 thumb">
 
           <a data-fancybox="gallery" href="{{ url_for("static", filename="images/foto/1.jpg") }}">

               <img class="img-fluid"  src="{{ url_for("static", filename="images/foto/mini/1.jpg") }}" alt="..." >     </a>    
                   </div>
      
 <div class="col-lg-3 col-md-4 col-6 thumb">
    <a data-fancybox="gallery" href="{{ url_for("static", filename="images/foto/2.jpg") }}">  </a>
               <img class="img-fluid"  src="{{ url_for("static", filename="images/foto/mini/2.jpg") }}" alt="..." >        
                       </div>
                   
          <div class="col-lg-3 col-md-4 col-6 thumb">
                <a data-fancybox="gallery" href="{{ url_for("static", filename="images/foto/3.jpg") }}">
               <img class="img-fluid"  src="{{ url_for("static", filename="images/foto/mini/3.jpg") }}" alt="..." >     </a>       
                     </div>
                   
     <div class="col-lg-3 col-md-4 col-6 thumb">
               <a data-fancybox="gallery" href="{{ url_for("static", filename="images/foto/4.jpg") }}">
               <img class="img-fluid"  src="{{ url_for("static", filename="images/foto/mini/4.jpg") }}" alt="..." >     </a>    
                    </div>
                   
        <div class="col-lg-3 col-md-4 col-6 thumb">
 
           <a data-fancybox="gallery" href="{{ url_for("static", filename="images/foto/5.jpg") }}">
               <img class="img-fluid"  src="{{ url_for("static", filename="images/foto/mini/5.jpg") }}" alt="..." >     </a>    
                   </div>
      
 <div class="col-lg-3 col-md-4 col-6 thumb">
    <a data-fancybox="gallery" href="{{ url_for("static", filename="images/foto/6.jpg") }}">
               <img class="img-fluid"  src="{{ url_for("static", filename="images/foto/mini/6.jpg") }}" alt="..." >     </a>     
                       </div>
                   
          <div class="col-lg-3 col-md-4 col-6 thumb">
                <a data-fancybox="gallery" href="{{ url_for("static", filename="images/foto/7.jpg") }}">
               <img class="img-fluid"  src="{{ url_for("static", filename="images/foto/mini/7.jpg") }}" alt="..." >     </a>       
                     </div>
                   
     <div class="col-lg-3 col-md-4 col-6 thumb">
               <a data-fancybox="gallery" href="{{ url_for("static", filename="images/foto/8.jpg") }}">
               <img class="img-fluid"  src="{{ url_for("static", filename="images/foto/mini/8.jpg") }}" alt="..." >     </a>    
                    </div>


     <div class="col-lg-3 col-md-4 col-6 thumb">
 
           <a data-fancybox="gallery" href="{{ url_for("static", filename="images/foto/9.jpg") }}">

               <img class="img-fluid"  src="{{ url_for("static", filename="images/foto/mini/9.jpg") }}" alt="..." >     </a>    
                   </div>
      
 <div class="col-lg-3 col-md-4 col-6 thumb">
    <a data-fancybox="gallery" href="{{ url_for("static", filename="images/foto/10.jpg") }}">  </a>
               <img class="img-fluid"  src="{{ url_for("static", filename="images/foto/mini/10.jpg") }}" alt="..." >        
                       </div>
                   
          <div class="col-lg-3 col-md-4 col-6 thumb">
                <a data-fancybox="gallery" href="{{ url_for("static", filename="images/foto/11.jpg") }}">
               <img class="img-fluid"  src="{{ url_for("static", filename="images/foto/mini/11.jpg") }}" alt="..." >     </a>       
                     </div>
                   
     <div class="col-lg-3 col-md-4 col-6 thumb">
               <a data-fancybox="gallery" href="{{ url_for("static", filename="images/foto/12.jpg") }}">
               <img class="img-fluid"  src="{{ url_for("static", filename="images/foto/mini/12.jpg") }}" alt="..." >     </a>    
                    </div>
                   
        <div class="col-lg-3 col-md-4 col-6 thumb">
 
           <a data-fancybox="gallery" href="{{ url_for("static", filename="images/foto/13.jpg") }}">
               <img class="img-fluid"  src="{{ url_for("static", filename="images/foto/mini/13.jpg") }}" alt="..." >     </a>    
                   </div>
      
 <div class="col-lg-3 col-md-4 col-6 thumb">
    <a data-fancybox="gallery" href="{{ url_for("static", filename="images/foto/14.jpg") }}">
               <img class="img-fluid"  src="{{ url_for("static", filename="images/foto/mini/14.jpg") }}" alt="..." >     </a>     
                       </div>
                   
          <div class="col-lg-3 col-md-4 col-6 thumb">
                <a data-fancybox="gallery" href="{{ url_for("static", filename="images/foto/15.jpg") }}">
               <img class="img-fluid"  src="{{ url_for("static", filename="images/foto/mini/15.jpg") }}" alt="..." >     </a>       
                     </div>
                   
     <div class="col-lg-3 col-md-4 col-6 thumb">
               <a data-fancybox="gallery" href="{{ url_for("static", filename="images/foto/16.jpg") }}">
               <img class="img-fluid"  src="{{ url_for("static", filename="images/foto/mini/16.jpg") }}" alt="..." >     </a>    
                    </div>                
                   
          
                      </div>
                      </div>


{% endblock %}
